<h1>Editing Product Listing</h1>
<p>
    <strong>Current Product Image:</strong>
    <%= image_tag @product_listing.picture if @product_listing.picture.attached? %>
</p>

<%= render 'form', product_listing: @product_listing %>

<%= link_to 'Show', @product_listing %> |
<%= link_to 'Back', product_listings_path(:seller_id => @current_seller.id) %>
