.imgbackgrond-food{
    background-image: url(image-path("melfis-charleston-compressor")); 
    background-size: cover;
    
}

body {
    background-color:rgb(250, 250, 239) ;
    color: #333;
    margin: 33px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
  }
